#! Python3.8
# CUDA requirements for Linux with CUDA installed

numpy<2.0                       # Installing NumPy, a package for scientific computing
opencv-python>=4.6.0            # Installing OpenCV, the Open source Computer Vision library
pillow>=7.1.2                   # Installing Pillow, a Python Image Library
pyyaml>=5.3.1                   # Installing PyYAML, a library for reading configuration files
scipy>=1.4.1                    # Installing SciPy, a library for mathematics, science, and engineering
tqdm>=4.64.0                    # Installing TDQM, the Fast, Extensible Progress Meter

# For CUDA
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.13.0+cu117             # Installing PyTorch, an open source machine learning framework
--find-links https://download.pytorch.org/whl/torch_stable.html
torchvision==0.14.0+cu117       # Installing TorchVision, for working with computer vision models

# Specific version because it's known to work with our code
ultralytics==8.3.81              # Installing Ultralytics package for YOLO models

CodeProject-AI-SDK              # Installing the CodeProject.AI SDK

# last line empty.
